In [11]:
import pandas as pd
df =  pd.read_csv("loan_approval_dataset.csv",skipinitialspace=True)

In [12]:
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   loan_id                   4269 non-null   int64
 1   no_of_dependents          4269 non-null   int64
 2   education                 4269 non-null   object
 3   self_employed             4269 non-null   object
 4   income_annum              4269 non-null   int64
 5   loan_amount               4269 non-null   int64
 6   loan_term                 4269 non-null   int64
 7   cibil_score               4269 non-null   int64
 8   residential_assets_value  4269 non-null   int64
 9   commercial_assets_value   4269 non-null   int64
 10  luxury_assets_value       4269 non-null   int64
 11  bank_asset_value          4269 non-null   int64
 12  loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

In [14]:
df["loan_status"]

0       Approved
1       Rejected
2       Rejected
3       Rejected
4       Rejected
          ...
4264    Rejected
4265    Approved
4266    Rejected
4267    Approved
4268    Approved
Name: loan_status, Length: 4269, dtype: object

In [15]:
df["loan_status"].value_counts()

loan_status
Approved    2656
Rejected    1613
Name: count, dtype: int64

In [16]:
df.columns

Index(['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value', 'loan_status'],
      dtype='object')

In [17]:
df['loan_status'].unique()

array(['Approved', 'Rejected'], dtype=object)

In [18]:
# onehot encoding

df2 = pd.get_dummies(df,drop_first='if_binary').astype(int)
df2

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,education_Not Graduate,self_employed_Yes,loan_status_Rejected
0,1,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0,0,0
1,2,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1,1,1
2,3,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0,0,1
3,4,3,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0,0,1
4,5,5,9800000,24200000,20,382,12400000,8200000,29400000,5000000,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,1000000,2300000,12,317,2800000,500000,3300000,800000,0,1,1
4265,4266,0,3300000,11300000,20,559,4200000,2900000,11000000,1900000,1,1,0
4266,4267,2,6500000,23900000,18,457,1200000,12400000,18100000,7300000,1,0,1
4267,4268,1,4100000,12800000,8,780,8200000,700000,14100000,5800000,1,0,0
4268,4269,1,9200000,29700000,10,607,17800000,11800000,35700000,12000000,0,0,0

In [19]:
x = df2.drop(['loan_status_Rejected','loan_id'], axis='columns')
y = df2['loan_status_Rejected']

In [20]:
x

,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,education_Not Graduate,self_employed_Yes
0,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0,0
1,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1,1
2,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0,0
3,3,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0,0
4,5,9800000,24200000,20,382,12400000,8200000,29400000,5000000,1,1
...,...,...,...,...,...,...,...,...,...,...,...
4264,5,1000000,2300000,12,317,2800000,500000,3300000,800000,0,1
4265,0,3300000,11300000,20,559,4200000,2900000,11000000,1900000,1,1
4266,2,6500000,23900000,18,457,1200000,12400000,18100000,7300000,1,0
4267,1,4100000,12800000,8,780,8200000,700000,14100000,5800000,1,0
4268,1,9200000,29700000,10,607,17800000,11800000,35700000,12000000,0,0

In [21]:
y.head()

0    0
1    1
2    1
3    1
4    1
Name: loan_status_Rejected, dtype: int32

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
std_scaler = StandardScaler()
x_transformed = std_scaler.fit_transform(x)

In [24]:
x_transformed.shape, x.shape

((4269, 11), (4269, 11))

In [25]:
# train test split

from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test = train_test_split(x_transformed,y,test_size=0.20)

In [27]:
from tensorflow.keras.models import Sequential

In [28]:
from tensorflow.keras.layers import Dense

In [29]:
x_train.shape

(3415, 11)

In [40]:
# ANN(Artificial Neural Network Defining
ANN_model = Sequential()
ANN_model.add(Dense(units=64,activation='relu',input_dim=11))  # hidden layer 1st with input layer
ANN_model.add(Dense(units=32,activation='relu'))  # HIDDEN LAYER 2
ANN_model.add(Dense(units=16,activation='relu'))   # HIDDEN LAYER 3

ANN_model.add(Dense(units=1,activation='sigmoid'))  # OUTPUT LAYER
ANN_model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
ANN_model.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_12 (Dense)                │ (None, 64)             │           768 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_13 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_14 (Dense)                │ (None, 16)             │           528 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_15 (Dense)                │ (None, 1)              │            17 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 3,393 (13.25 KB)

 Trainable params: 3,393 (13.25 KB)

 Non-trainable params: 0 (0.00 B)

In [41]:
history = ANN_model.fit(x_train,y_train,epochs=10,validation_data=(x_test,y_test))

Epoch 1/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.6881 - loss: 0.5527 - val_accuracy: 0.9157 - val_loss: 0.2564
Epoch 2/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9108 - loss: 0.2499 - val_accuracy: 0.9262 - val_loss: 0.2069
Epoch 3/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9314 - loss: 0.1842 - val_accuracy: 0.9251 - val_loss: 0.1851
Epoch 4/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9370 - loss: 0.1770 - val_accuracy: 0.9379 - val_loss: 0.1670
Epoch 5/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9405 - loss: 0.1611 - val_accuracy: 0.9344 - val_loss: 0.1582
Epoch 6/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9508 - loss: 0.1408 - val_accuracy: 0.9333 - val_loss: 0.1486
Epoch 7/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9522 - loss: 0.1409 - val_accuracy: 0.9461 - val_loss: 0.1410
Epoch 8/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9520 - loss: 0.1268 - val_accuracy: 0.9415 - val_loss: 0.1380
Epoch 9/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9565 - loss: 0.1123 - val_accuracy: 0.9450 - val_loss: 0.1280
Epoch 10/10
107/107 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9586 - loss: 0.1144 - val_accuracy: 0.9520 - val_loss: 0.1254

In [42]:
pd.DataFrame(x_train,columns=x.columns).head()

,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,education_Not Graduate,self_employed_Yes
0,-0.294102,0.940982,0.029478,1.243677,-0.440438,0.834613,0.028904,0.645270,0.499509,-0.995559,-1.007288
1,0.885344,0.549036,0.593494,-0.508091,1.485202,1.741904,0.097265,-0.002890,1.361100,-0.995559,0.992765
2,0.295621,-1.481955,-1.463504,0.192617,-0.307035,-0.780058,-1.042088,-1.332168,-1.408298,1.004461,-1.007288
3,-0.883825,-0.163592,-0.269118,-0.508091,-0.765245,0.450168,-1.133237,-0.068805,-0.331310,-0.995559,-1.007288
4,-0.883825,-0.341750,-0.567715,-0.858444,1.688206,-0.395612,-1.064876,-0.277534,-0.423623,-0.995559,-1.007288

In [43]:
pd.DataFrame(x_train,columns=x.columns).isnull().sum()

no_of_dependents            0
income_annum                0
loan_amount                 0
loan_term                   0
cibil_score                 0
residential_assets_value    0
commercial_assets_value     0
luxury_assets_value         0
bank_asset_value            0
education_Not Graduate      0
self_employed_Yes           0
dtype: int64

In [44]:
x_train.shape , y_train.shape

((3415, 11), (3415,))

In [45]:
pd.DataFrame(history.history)

   accuracy      loss  val_accuracy  val_loss
0  0.787701  0.439829      0.915691  0.256405
1  0.924158  0.215918      0.926230  0.206948
2  0.927672  0.189421      0.925059  0.185119
3  0.939092  0.170157      0.937939  0.167019
4  0.944070  0.155259      0.934426  0.158182
5  0.947291  0.142855      0.933255  0.148580
6  0.951391  0.132037      0.946136  0.141020
7  0.955198  0.122696      0.941452  0.138050
8  0.957833  0.114699      0.944965  0.128032
9  0.959883  0.106297      0.951991  0.125351